# =========================
# DATA
# =========================

data/*
!data/README.md

*.pkl
*.zip


# =========================
# TRAINED MODELS
# =========================

*.pth
*.pt


# =========================
# JUPYTER
# =========================

.ipynb_checkpoints/


# =========================
# PYTHON
# =========================

__pycache__/
*.py[cod]


# =========================
# macOS
# =========================

.DS_Store


# =========================
# TEMPORARY FILES
# =========================

*.tmp
*.log